
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/UserSettings/
.vscode/
.idea/

.DS_Store
*.csproj
*.sln
*.slnx
*.user
*.pidb
*.booproj
*.svd
*.pdb
*.zip
*.zip.meta
/Assets/Plugins
/Assets/Resources

/Assets/ThirdParty